.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
}
 
.navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.navbar nav ul li a{
    color: #FFA500;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 15px;
    transition: all 0.2s ease;
}

.navbar nav ul li a:focus{
    color: white;
    background-color: #0336FF;
}

.navbar-text-wrap{
    margin-top: 100px;
    text-align: center;
    color: white;
}

.navbar-text h3{
    font-size: 25px;
}
.navbar-text h2{
    font-size: 43px;
    font-weight: 800;
    padding-top: 18px;
}

.navbar-btn{
    margin-top: 50px;
    margin-bottom: 45px;
}

.navbar-text {
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar.not-home .navbar-text {
    margin-top: 150px;
  }
  
  .navbar.not-home .navbar-text h3,
  .navbar.not-home .navbar-text h2 {
    font-size: 32px;
    line-height: 1.4;
  }
  

.navbar-btn a{
    border: none;
    padding: 18px 32px;
    background-color: #0336FF;
    text-decoration: none;
    color: white;
    border-radius: 8px;

}

.navbar-down p{
    font-weight: 700;
    padding-bottom: 8px;
}

.navbar-down img{
    width: auto;
    height: 27px;
}

@media screen and (max-width: 750px) {
    .navbar .logo{
        display: none;
    }

    .navbar nav{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 626px) {
    .navbar nav ul{
        gap: 15px;
    }

    .navbar-text h2{
        font-size: 35px;
    }

    .navbar-text h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 626px) {
    .navbar nav ul{
        gap: 15px;
    }

    .navbar-text h2{
        font-size: 35px;
    }

    .navbar-text h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 540px) {
    .navbar nav ul li a{
        font-size: 15px;
        padding: 8px;
    }

    .navbar nav ul{
        gap: 13px
    };

}


@media screen and (max-width: 540px) {
    .navbar-btn a{
        padding: 13px 27px;
    }

    .navbar-text h2{
        font-size: 30px;
    }

    .navbar-text h3{
        font-size: 18px;
    }

}
